<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>69</key>
      <dict>
        <key>width</key>
        <integer>69</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>35</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>0</key>
          <integer>7</integer>
          <key>22</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>74</key>
      <dict>
        <key>width</key>
        <integer>74</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>19</key>
          <integer>2</integer>
          <key>35</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>20</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>76</key>
      <dict>
        <key>width</key>
        <integer>76</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>19</key>
          <integer>2</integer>
          <key>35</key>
          <integer>3</integer>
          <key>72</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>20</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>29</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>20</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>99</key>
      <dict>
        <key>width</key>
        <integer>99</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>19</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>37</key>
          <integer>4</integer>
          <key>48</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>16</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>74</key>
      <dict>
        <key>width</key>
        <integer>74</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>19</key>
          <integer>2</integer>
          <key>35</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>20</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>80</key>
      <dict>
        <key>width</key>
        <integer>80</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>29</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>72</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>20</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>93</key>
      <dict>
        <key>width</key>
        <integer>93</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>19</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>37</key>
          <integer>4</integer>
          <key>48</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
          <key>0</key>
          <integer>7</integer>
          <key>16</key>
          <integer>8</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <false/>
  <key>com.schriftgestaltung.fontMasterID</key>
  <string>master01</string>
  <key>com.schriftgestaltung.glyphOrder</key>
  <false/>
  <key>com.schriftgestaltung.master.name</key>
  <string>regular</string>
  <key>com.schriftgestaltung.useNiceNames</key>
  <true/>
  <key>com.schriftgestaltung.weightValue</key>
  <real>400</real>
  <key>public.postscriptNames</key>
  <dict>
    <key>A-cy</key>
    <string>uni0410</string>
    <key>A-cy.ss01</key>
    <string>uni0410.ss01</string>
    <key>Be-cy</key>
    <string>uni0411</string>
    <key>Che-cy</key>
    <string>uni0427</string>
    <key>De-cy</key>
    <string>uni0414</string>
    <key>Dze-cy</key>
    <string>uni0405</string>
    <key>E-cy</key>
    <string>uni0404</string>
    <key>Ef-cy</key>
    <string>uni0424</string>
    <key>El-cy</key>
    <string>uni041B</string>
    <key>Em-cy</key>
    <string>uni041C</string>
    <key>Em-cy.ss01</key>
    <string>uni041C.ss01</string>
    <key>En-cy</key>
    <string>uni041D</string>
    <key>Er-cy</key>
    <string>uni0420</string>
    <key>Ereversed-cy</key>
    <string>uni042D</string>
    <key>Es-cy</key>
    <string>uni0421</string>
    <key>Gacute</key>
    <string>uni01F4</string>
    <key>Gacute.ss01</key>
    <string>uni01F4.ss01</string>
    <key>Gcommaaccent</key>
    <string>uni0122</string>
    <key>Gcommaaccent.ss01</key>
    <string>uni0122.ss01</string>
    <key>Ge-cy</key>
    <string>uni0413</string>
    <key>Germandbls</key>
    <string>uni1E9E</string>
    <key>Gheupturn-cy</key>
    <string>uni0490</string>
    <key>Ha-cy</key>
    <string>uni0425</string>
    <key>Ha-cy.ss01</key>
    <string>uni0425.ss01</string>
    <key>Hardsign-cy</key>
    <string>uni042A</string>
    <key>I-cy</key>
    <string>uni0406</string>
    <key>Ia-cy</key>
    <string>uni042F</string>
    <key>Ia-cy.ss01</key>
    <string>uni042F.ss01</string>
    <key>Ie-cy</key>
    <string>uni0415</string>
    <key>Ii-cy</key>
    <string>uni0418</string>
    <key>Iishort-cy</key>
    <string>uni0419</string>
    <key>Io-cy</key>
    <string>uni0401</string>
    <key>Iu-cy</key>
    <string>uni042E</string>
    <key>Ka-cy</key>
    <string>uni041A</string>
    <key>Ka-cy.ss01</key>
    <string>uni041A.ss01</string>
    <key>Kcommaaccent</key>
    <string>uni0136</string>
    <key>Kcommaaccent.ss01</key>
    <string>uni0136.ss01</string>
    <key>Lcommaaccent</key>
    <string>uni013B</string>
    <key>Ncommaaccent</key>
    <string>uni0145</string>
    <key>Ncommaaccent.ss01</key>
    <string>uni0145.ss01</string>
    <key>O-cy</key>
    <string>uni041E</string>
    <key>Pe-cy</key>
    <string>uni041F</string>
    <key>Rcommaaccent</key>
    <string>uni0156</string>
    <key>Scommaaccent</key>
    <string>uni0218</string>
    <key>Sha-cy</key>
    <string>uni0428</string>
    <key>Shcha-cy</key>
    <string>uni0429</string>
    <key>Softsign-cy</key>
    <string>uni042C</string>
    <key>Tcedilla</key>
    <string>uni0162</string>
    <key>Tcommaaccent</key>
    <string>uni021A</string>
    <key>Te-cy</key>
    <string>uni0422</string>
    <key>Tse-cy</key>
    <string>uni0426</string>
    <key>U-cy</key>
    <string>uni0423</string>
    <key>U-cy.ss01</key>
    <string>uni0423.ss01</string>
    <key>Ushort-cy</key>
    <string>uni040E</string>
    <key>Ushort-cy.ss01</key>
    <string>uni040E.ss01</string>
    <key>Ve-cy</key>
    <string>uni0412</string>
    <key>Yeru-cy</key>
    <string>uni042B</string>
    <key>Yi-cy</key>
    <string>uni0407</string>
    <key>Ze-cy</key>
    <string>uni0417</string>
    <key>Zhe-cy</key>
    <string>uni0416</string>
    <key>Zhe-cy.ss01</key>
    <string>uni0416.ss01</string>
    <key>_perc-circule</key>
    <string>_perccircule</string>
    <key>a-cy</key>
    <string>uni0430</string>
    <key>a-cy.ss01</key>
    <string>uni0430.ss01</string>
    <key>be-cy</key>
    <string>uni0431</string>
    <key>che-cy</key>
    <string>uni0447</string>
    <key>commaaccentcomb</key>
    <string>uni0326</string>
    <key>commaaccentcomb.salt</key>
    <string>uni0326.salt</string>
    <key>de-cy</key>
    <string>uni0434</string>
    <key>de-cy.ss01</key>
    <string>uni0434.ss01</string>
    <key>dze-cy</key>
    <string>uni0455</string>
    <key>e-cy</key>
    <string>uni0454</string>
    <key>ef-cy</key>
    <string>uni0444</string>
    <key>el-cy</key>
    <string>uni043B</string>
    <key>el-cy.ss01</key>
    <string>uni043B.ss01</string>
    <key>em-cy</key>
    <string>uni043C</string>
    <key>en-cy</key>
    <string>uni043D</string>
    <key>er-cy</key>
    <string>uni0440</string>
    <key>er-cy.ss01</key>
    <string>uni0440.ss01</string>
    <key>ereversed-cy</key>
    <string>uni044D</string>
    <key>es-cy</key>
    <string>uni0441</string>
    <key>euro</key>
    <string>Euro</string>
    <key>gacute</key>
    <string>uni01F5</string>
    <key>gacute.ss01</key>
    <string>uni01F5.ss01</string>
    <key>gcommaaccent</key>
    <string>uni0123</string>
    <key>gcommaaccent.ss01</key>
    <string>uni0123.ss01</string>
    <key>ge-cy</key>
    <string>uni0433</string>
    <key>gheupturn-cy</key>
    <string>uni0491</string>
    <key>guillemetleft</key>
    <string>guillemotleft</string>
    <key>guillemetright</key>
    <string>guillemotright</string>
    <key>ha-cy</key>
    <string>uni0445</string>
    <key>hardsign-cy</key>
    <string>uni044A</string>
    <key>hardsign-cy.ss01</key>
    <string>uni044A.ss01</string>
    <key>hryvnia</key>
    <string>uni20B4</string>
    <key>i-cy</key>
    <string>uni0456</string>
    <key>ia-cy</key>
    <string>uni044F</string>
    <key>ia-cy.ss01</key>
    <string>uni044F.ss01</string>
    <key>idotless</key>
    <string>dotlessi</string>
    <key>ie-cy</key>
    <string>uni0435</string>
    <key>ie-cy.ss01</key>
    <string>uni0435.ss01</string>
    <key>ii-cy</key>
    <string>uni0438</string>
    <key>iishort-cy</key>
    <string>uni0439</string>
    <key>io-cy</key>
    <string>uni0451</string>
    <key>io-cy.ss01</key>
    <string>uni0451.ss01</string>
    <key>iu-cy</key>
    <string>uni044E</string>
    <key>jdotless</key>
    <string>uni0237</string>
    <key>je-cy</key>
    <string>uni0458</string>
    <key>ka-cy</key>
    <string>uni043A</string>
    <key>kcommaaccent</key>
    <string>uni0137</string>
    <key>lcommaaccent</key>
    <string>uni013C</string>
    <key>lcommaaccent.ss01</key>
    <string>uni013C.ss01</string>
    <key>ncommaaccent</key>
    <string>uni0146</string>
    <key>numero</key>
    <string>uni2116</string>
    <key>numero.ss01</key>
    <string>uni2116.ss01</string>
    <key>o-cy</key>
    <string>uni043E</string>
    <key>onesuperior</key>
    <string>uni00B9</string>
    <key>pe-cy</key>
    <string>uni043F</string>
    <key>rcommaaccent</key>
    <string>uni0157</string>
    <key>scommaaccent</key>
    <string>uni0219</string>
    <key>sha-cy</key>
    <string>uni0448</string>
    <key>shcha-cy</key>
    <string>uni0449</string>
    <key>softsign-cy</key>
    <string>uni044C</string>
    <key>softsign-cy.ss01</key>
    <string>uni044C.ss01</string>
    <key>tcedilla</key>
    <string>uni0163</string>
    <key>tcedilla.ss01</key>
    <string>uni0163.ss01</string>
    <key>tcommaaccent</key>
    <string>uni021B</string>
    <key>tcommaaccent.ss01</key>
    <string>uni021B.ss01</string>
    <key>te-cy</key>
    <string>uni0442</string>
    <key>te-cy.ss01</key>
    <string>uni0442.ss01</string>
    <key>threesuperior</key>
    <string>uni00B3</string>
    <key>tse-cy</key>
    <string>uni0446</string>
    <key>twosuperior</key>
    <string>uni00B2</string>
    <key>u-cy</key>
    <string>uni0443</string>
    <key>ushort-cy</key>
    <string>uni045E</string>
    <key>ve-cy</key>
    <string>uni0432</string>
    <key>ve-cy.ss01</key>
    <string>uni0432.ss01</string>
    <key>yeru-cy</key>
    <string>uni044B</string>
    <key>yeru-cy.ss01</key>
    <string>uni044B.ss01</string>
    <key>yi-cy</key>
    <string>uni0457</string>
    <key>ze-cy</key>
    <string>uni0437</string>
    <key>zhe-cy</key>
    <string>uni0436</string>
  </dict>
  <key>public.skipExportGlyphs</key>
  <array>
    <string>Oslash.bold</string>
    <string>oslash.bold</string>
    <string>_perc-circule</string>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>AE</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Eth</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>F</string>
    <string>G</string>
    <string>Gacute</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Eng</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>P</string>
    <string>Thorn</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>Germandbls</string>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>A.ss01</string>
    <string>Aacute.ss01</string>
    <string>Abreve.ss01</string>
    <string>Acircumflex.ss01</string>
    <string>Adieresis.ss01</string>
    <string>Agrave.ss01</string>
    <string>Amacron.ss01</string>
    <string>Aogonek.ss01</string>
    <string>Aring.ss01</string>
    <string>Atilde.ss01</string>
    <string>AE.ss01</string>
    <string>G.ss01</string>
    <string>Gacute.ss01</string>
    <string>Gbreve.ss01</string>
    <string>Gcircumflex.ss01</string>
    <string>Gcommaaccent.ss01</string>
    <string>Gdotaccent.ss01</string>
    <string>J.ss01</string>
    <string>Jcircumflex.ss01</string>
    <string>K.ss01</string>
    <string>Kcommaaccent.ss01</string>
    <string>M.ss01</string>
    <string>N.ss01</string>
    <string>Nacute.ss01</string>
    <string>Ncaron.ss01</string>
    <string>Ncommaaccent.ss01</string>
    <string>Eng.ss01</string>
    <string>Ntilde.ss01</string>
    <string>Q.ss01</string>
    <string>V.ss01</string>
    <string>W.ss01</string>
    <string>Wacute.ss01</string>
    <string>Wcircumflex.ss01</string>
    <string>Wdieresis.ss01</string>
    <string>Wgrave.ss01</string>
    <string>X.ss01</string>
    <string>Y.ss01</string>
    <string>Yacute.ss01</string>
    <string>Ycircumflex.ss01</string>
    <string>Ydieresis.ss01</string>
    <string>Z.ss01</string>
    <string>Zacute.ss01</string>
    <string>Zcaron.ss01</string>
    <string>Zdotaccent.ss01</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>ae</string>
    <string>b</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>eth</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>f</string>
    <string>g</string>
    <string>gacute</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>i</string>
    <string>idotless</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>j</string>
    <string>jdotless</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>lslash</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>eng</string>
    <string>ntilde</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>oe</string>
    <string>p</string>
    <string>thorn</string>
    <string>q</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
    <string>germandbls</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>a.ss01</string>
    <string>aacute.ss01</string>
    <string>abreve.ss01</string>
    <string>acircumflex.ss01</string>
    <string>adieresis.ss01</string>
    <string>agrave.ss01</string>
    <string>amacron.ss01</string>
    <string>aogonek.ss01</string>
    <string>aring.ss01</string>
    <string>atilde.ss01</string>
    <string>ae.ss01</string>
    <string>b.ss01</string>
    <string>d.ss01</string>
    <string>dcaron.ss01</string>
    <string>dcroat.ss01</string>
    <string>e.ss01</string>
    <string>eacute.ss01</string>
    <string>ebreve.ss01</string>
    <string>ecaron.ss01</string>
    <string>ecircumflex.ss01</string>
    <string>edieresis.ss01</string>
    <string>edotaccent.ss01</string>
    <string>egrave.ss01</string>
    <string>emacron.ss01</string>
    <string>eogonek.ss01</string>
    <string>f.ss01</string>
    <string>g.ss01</string>
    <string>gacute.ss01</string>
    <string>gbreve.ss01</string>
    <string>gcircumflex.ss01</string>
    <string>gcommaaccent.ss01</string>
    <string>gdotaccent.ss01</string>
    <string>l.ss01</string>
    <string>lacute.ss01</string>
    <string>lcaron.ss01</string>
    <string>lcommaaccent.ss01</string>
    <string>ldot.ss01</string>
    <string>lslash.ss01</string>
    <string>oe.ss01</string>
    <string>p.ss01</string>
    <string>q.ss01</string>
    <string>germandbls.ss01</string>
    <string>t.ss01</string>
    <string>tbar.ss01</string>
    <string>tcaron.ss01</string>
    <string>tcedilla.ss01</string>
    <string>tcommaaccent.ss01</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
    <string>f_f.ss01</string>
    <string>f_f_i.ss01</string>
    <string>f_f_l.ss01</string>
    <string>fi.ss01</string>
    <string>fl.ss01</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>A-cy</string>
    <string>Be-cy</string>
    <string>Ve-cy</string>
    <string>Ge-cy</string>
    <string>Gheupturn-cy</string>
    <string>De-cy</string>
    <string>Ie-cy</string>
    <string>Io-cy</string>
    <string>Zhe-cy</string>
    <string>Ze-cy</string>
    <string>Ii-cy</string>
    <string>Iishort-cy</string>
    <string>Ka-cy</string>
    <string>El-cy</string>
    <string>Em-cy</string>
    <string>En-cy</string>
    <string>O-cy</string>
    <string>Pe-cy</string>
    <string>Er-cy</string>
    <string>Es-cy</string>
    <string>Te-cy</string>
    <string>U-cy</string>
    <string>Ushort-cy</string>
    <string>Ef-cy</string>
    <string>Ha-cy</string>
    <string>Che-cy</string>
    <string>Tse-cy</string>
    <string>Sha-cy</string>
    <string>Shcha-cy</string>
    <string>Softsign-cy</string>
    <string>Hardsign-cy</string>
    <string>Yeru-cy</string>
    <string>Dze-cy</string>
    <string>E-cy</string>
    <string>Ereversed-cy</string>
    <string>I-cy</string>
    <string>Yi-cy</string>
    <string>Iu-cy</string>
    <string>Ia-cy</string>
    <string>A-cy.ss01</string>
    <string>Zhe-cy.ss01</string>
    <string>Ka-cy.ss01</string>
    <string>Em-cy.ss01</string>
    <string>U-cy.ss01</string>
    <string>Ushort-cy.ss01</string>
    <string>Ha-cy.ss01</string>
    <string>Ia-cy.ss01</string>
    <string>a-cy</string>
    <string>be-cy</string>
    <string>ve-cy</string>
    <string>ge-cy</string>
    <string>gheupturn-cy</string>
    <string>de-cy</string>
    <string>ie-cy</string>
    <string>io-cy</string>
    <string>zhe-cy</string>
    <string>ze-cy</string>
    <string>ii-cy</string>
    <string>iishort-cy</string>
    <string>ka-cy</string>
    <string>el-cy</string>
    <string>em-cy</string>
    <string>en-cy</string>
    <string>o-cy</string>
    <string>pe-cy</string>
    <string>er-cy</string>
    <string>es-cy</string>
    <string>te-cy</string>
    <string>u-cy</string>
    <string>ushort-cy</string>
    <string>ef-cy</string>
    <string>ha-cy</string>
    <string>che-cy</string>
    <string>tse-cy</string>
    <string>sha-cy</string>
    <string>shcha-cy</string>
    <string>softsign-cy</string>
    <string>hardsign-cy</string>
    <string>yeru-cy</string>
    <string>dze-cy</string>
    <string>e-cy</string>
    <string>ereversed-cy</string>
    <string>i-cy</string>
    <string>yi-cy</string>
    <string>je-cy</string>
    <string>iu-cy</string>
    <string>ia-cy</string>
    <string>a-cy.ss01</string>
    <string>ve-cy.ss01</string>
    <string>de-cy.ss01</string>
    <string>ie-cy.ss01</string>
    <string>io-cy.ss01</string>
    <string>el-cy.ss01</string>
    <string>er-cy.ss01</string>
    <string>te-cy.ss01</string>
    <string>softsign-cy.ss01</string>
    <string>hardsign-cy.ss01</string>
    <string>yeru-cy.ss01</string>
    <string>ia-cy.ss01</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>nine.osf</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>ellipsis</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>periodcentered</string>
    <string>bullet</string>
    <string>asterisk</string>
    <string>numbersign</string>
    <string>slash</string>
    <string>backslash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>underscore</string>
    <string>quotesinglbase</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>cent</string>
    <string>currency</string>
    <string>dollar</string>
    <string>euro</string>
    <string>hryvnia</string>
    <string>sterling</string>
    <string>yen</string>
    <string>yen.ss01</string>
    <string>plus</string>
    <string>minus</string>
    <string>multiply</string>
    <string>divide</string>
    <string>equal</string>
    <string>greater</string>
    <string>less</string>
    <string>asciitilde</string>
    <string>asciicircum</string>
    <string>percent</string>
    <string>perthousand</string>
    <string>at</string>
    <string>ampersand</string>
    <string>paragraph</string>
    <string>section</string>
    <string>copyright</string>
    <string>registered</string>
    <string>trademark</string>
    <string>degree</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>numero</string>
    <string>estimated</string>
    <string>numero.ss01</string>
    <string>commaaccentcomb</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>acute</string>
    <string>hungarumlaut</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>ring</string>
    <string>tilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>ogonek</string>
    <string>dieresis.case</string>
    <string>dotaccent.case</string>
    <string>grave.case</string>
    <string>acute.case</string>
    <string>hungarumlaut.case</string>
    <string>circumflex.case</string>
    <string>caron.case</string>
    <string>breve.case</string>
    <string>ring.case</string>
    <string>tilde.case</string>
    <string>macron.case</string>
    <string>commaaccentcomb.salt</string>
    <string>caron.salt</string>
    <string>uniE01A</string>
    <string>_perc-circule</string>
    <string>eight.osf</string>
    <string>ruble</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Jecyr</string>
    <string>dzhecyr</string>
    <string>Dzhecyr</string>
    <string>ljecyr</string>
    <string>njecyr</string>
    <string>Tshecyr</string>
    <string>Djecyr</string>
    <string>tshecyr</string>
    <string>djecyr</string>
    <string>tenge</string>
    <string>ljecyr.ss01</string>
    <string>njecyr.ss01</string>
    <string>dramsignarmn</string>
    <string>gjecyr</string>
    <string>kjecyr</string>
    <string>neptune</string>
    <string>florin</string>
    <string>plusminus</string>
    <string>fraction</string>
    <string>onequarter</string>
    <string>onehalf</string>
    <string>threequarters</string>
    <string>mu</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>minute</string>
    <string>second</string>
    <string>Schwacyr</string>
    <string>schwacyr</string>
    <string>Gestrokecyr</string>
    <string>gestrokecyr</string>
    <string>Obarcyr</string>
    <string>obarcyr</string>
    <string>Entailcyr</string>
    <string>entailcyr</string>
    <string>Katailcyr</string>
    <string>katailcyr</string>
    <string>Ustraightstrokecyr</string>
    <string>ustraightstrokecyr</string>
    <string>Shhacyr</string>
    <string>shhacyr</string>
    <string>ustraightcyr</string>
    <string>Ustraightcyr</string>
    <string>partialdiff</string>
    <string>increment</string>
    <string>integral</string>
    <string>summation</string>
    <string>radical</string>
    <string>infinity</string>
    <string>Omega</string>
    <string>pi</string>
    <string>longs</string>
    <string>Delta</string>
    <string>product</string>
    <string>notequal</string>
    <string>proportional</string>
    <string>approxequal</string>
    <string>Schwa</string>
    <string>eturned</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>uni2010</string>
    <string>Aiecyr</string>
    <string>aiecyr</string>
    <string>uni1EBC</string>
    <string>uni1EBD</string>
    <string>Acaron</string>
    <string>acaron</string>
    <string>Gjecyr</string>
    <string>Kjecyr</string>
    <string>uniE000</string>
    <string>uniE000.alt</string>
    <string>arrowleft</string>
    <string>arrowup</string>
    <string>arrowright</string>
    <string>arrowdown</string>
    <string>arrowdown.ss01</string>
    <string>arrowleft.ss01</string>
    <string>arrowright.ss01</string>
    <string>arrowup.ss01</string>
    <string>yi-cy.alt</string>
    <string>Omegacyr</string>
    <string>omegacyr</string>
    <string>Yatcyr</string>
    <string>yatcyr</string>
    <string>Eiotifiedcyr</string>
    <string>eiotifiedcyr</string>
    <string>Ksicyr</string>
    <string>ksicyr</string>
    <string>Shwe-cy</string>
    <string>Fitacyr</string>
    <string>fitacyr</string>
    <string>Koppacyr</string>
    <string>Iegravecyr</string>
    <string>Igravecyr</string>
    <string>iegravecyr</string>
    <string>igravecyr</string>
    <string>Zhebrevecyr</string>
    <string>zhebrevecyr</string>
    <string>Abrevecyr</string>
    <string>abrevecyr</string>
    <string>Adieresiscyr</string>
    <string>adieresiscyr</string>
    <string>Iebrevecyr</string>
    <string>iebrevecyr</string>
    <string>Schwadieresiscyr</string>
    <string>schwadieresiscyr</string>
    <string>Zhedieresiscyr</string>
    <string>zhedieresiscyr</string>
    <string>Zedieresiscyr</string>
    <string>zedieresiscyr</string>
    <string>Imacroncyr</string>
    <string>imacroncyr</string>
    <string>Idieresiscyr</string>
    <string>idieresiscyr</string>
    <string>Odieresiscyr</string>
    <string>odieresiscyr</string>
    <string>Umacroncyr</string>
    <string>umacroncyr</string>
    <string>Udieresiscyr</string>
    <string>udieresiscyr</string>
    <string>Uacutedblcyr</string>
    <string>uacutedblcyr</string>
    <string>Dekomicyr</string>
    <string>dekomicyr</string>
    <string>Wecyr</string>
    <string>wecyr</string>
    <string>Qacyr</string>
    <string>qacyr</string>
    <string>Ylongdieresiscyr</string>
    <string>ylongdieresiscyr</string>
    <string>Chedieresiscyr</string>
    <string>chedieresiscyr</string>
    <string>Obardieresiscyr</string>
    <string>obardieresiscyr</string>
    <string>Ereverseddieresiscyr</string>
    <string>ereverseddieresiscyr</string>
    <string>Zhetailcyr</string>
    <string>zhetailcyr</string>
    <string>Tetailcyr</string>
    <string>tetailcyr</string>
    <string>Xatailcyr</string>
    <string>xatailcyr</string>
    <string>Chetailcyr</string>
    <string>chetailcyr</string>
    <string>Chekhakascyr</string>
    <string>chekhakascyr</string>
    <string>Getailcyr</string>
    <string>getailcyr</string>
    <string>Petailcyr</string>
    <string>petailcyr</string>
    <string>Eltailcyr</string>
    <string>eltailcyr</string>
    <string>Shhatailcyr</string>
    <string>shhatailcyr</string>
    <string>Palochkacyr</string>
    <string>palochkacyr</string>
    <string>Dzzhecyr</string>
    <string>Yaecyr</string>
    <string>yaecyr</string>
    <string>Tetsecyr</string>
    <string>tetsecyr</string>
    <string>Engecyr</string>
    <string>engecyr</string>
    <string>kabashkcyr</string>
    <string>Kabashkcyr</string>
    <string>semisoftcyr</string>
    <string>Semisoftcyr</string>
    <string>Reversedzecyr</string>
    <string>reversedzecyr</string>
    <string>Elmiddlehookcyr</string>
    <string>Enmiddlehookcyr</string>
    <string>Enhookcyr</string>
    <string>Kahookcyr</string>
    <string>Pehookcyr</string>
    <string>Gehookcyr</string>
    <string>parenleft.case</string>
    <string>parenright.case</string>
    <string>hyphen.case</string>
    <string>bracketleft.case</string>
    <string>bracketright.case</string>
    <string>braceleft.case</string>
    <string>braceright.case</string>
    <string>exclamdown.case</string>
    <string>guillemetleft.case</string>
    <string>guillemetright.case</string>
    <string>endash.case</string>
    <string>emdash.case</string>
    <string>bullet.case</string>
    <string>guilsinglleft.case</string>
    <string>guilsinglright.case</string>
    <string>arrowleft.case</string>
    <string>arrowup.case</string>
    <string>arrowright.case</string>
    <string>arrowdown.case</string>
    <string>arrowdown.ss01.case</string>
    <string>arrowleft.ss01.case</string>
    <string>arrowright.ss01.case</string>
    <string>arrowup.ss01.case</string>
    <string>Enhookleftcyr</string>
    <string>enhookleftcyr</string>
    <string>enhookcyr</string>
    <string>gehookcyr</string>
    <string>pehookcyr</string>
    <string>kahookcyr</string>
    <string>enmiddlehookcyr</string>
    <string>elmiddlehookcyr</string>
    <string>kastrokecyr</string>
    <string>Kastrokecyr</string>
    <string>Chevertcyr</string>
    <string>chevertcyr</string>
    <string>Kaverticalstrokecyr</string>
    <string>kaverticalstrokecyr</string>
    <string>Elhookcyr</string>
    <string>elhookcyr</string>
    <string>zetailcyr</string>
    <string>Zetailcyr</string>
    <string>Estailcyr</string>
    <string>estailcyr</string>
    <string>Haabkhcyr</string>
    <string>koppacyr</string>
    <string>ukcyr</string>
    <string>Ukcyr</string>
    <string>omegaroundcyr</string>
    <string>Izhitsagravedblcyr</string>
    <string>izhitsagravedblcyr</string>
    <string>izhitsacyr</string>
    <string>Izhitsacyr</string>
    <string>Yusbigcyr</string>
    <string>yusbigcyr</string>
    <string>Psicyr</string>
    <string>psicyr</string>
    <string>Omegaroundcyr</string>
    <string>Yuslittlecyr</string>
    <string>yuslittlecyr</string>
    <string>yuslittleiotifiedcyr</string>
    <string>Yuslittleiotifiedcyr</string>
    <string>Yusbigiotifiedcyr</string>
    <string>yusbigiotifiedcyr</string>
    <string>Omegatitlocyr</string>
    <string>omegatitlocyr</string>
    <string>Otcyr</string>
    <string>otcyr</string>
    <string>uni2DEE</string>
    <string>uni2DEE.case</string>
    <string>ertickcyr</string>
    <string>Ertickcyr</string>
    <string>Lhacyr</string>
    <string>lhacyr</string>
    <string>ensharptailcyr</string>
    <string>Ensharptailcyr</string>
    <string>emsharptailcyr</string>
    <string>elsharptailcyr</string>
    <string>ishortsharptailcyr</string>
    <string>Ishortsharptailcyr</string>
    <string>Emsharptailcyr</string>
    <string>Elsharptailcyr</string>
    <string>njekomicyr</string>
    <string>Njekomicyr</string>
    <string>ljekomicyr</string>
    <string>tjekomicyr</string>
    <string>djekomicyr</string>
    <string>zjekomicyr</string>
    <string>colon.case</string>
    <string>questiondown.case</string>
    <string>slash.case</string>
    <string>semicolon.case</string>
    <string>backslash.case</string>
    <string>bar.case</string>
    <string>brokenbar.case</string>
    <string>dzjekomicyr</string>
    <string>Cheabkhcyr</string>
    <string>cheabkhcyr</string>
    <string>cheabkhtailcyr</string>
    <string>sjekomicyr</string>
    <string>Sjekomicyr</string>
    <string>Ljekomicyr</string>
    <string>Tjekomicyr</string>
    <string>Djekomicyr</string>
    <string>kaaleutcyr</string>
    <string>dzzhecyr</string>
    <string>haabkhcyr</string>
    <string>Dchecyr</string>
    <string>dchecyr</string>
    <string>dzeabkhcyr</string>
    <string>Dzeabkhcyr</string>
    <string>palatcombcyr</string>
    <string>Cheabkhtailcyr</string>
    <string>Dzjekomicyr</string>
    <string>Zjekomicyr</string>
    <string>rhacyr</string>
    <string>Rhacyr</string>
    <string>Kaaleutcyr</string>
    <string>thousandscyr</string>
    <string>titlocombcyr</string>
    <string>pokrytiecombcyr</string>
    <string>hundredthousandscombcyr</string>
    <string>millionscombcyr</string>
    <string>Gehookstrokecyr</string>
    <string>gehookstrokecyr</string>
    <string>Hahookcyr</string>
    <string>hahookcyr</string>
    <string>Hastrokecyr</string>
    <string>uni1C80</string>
    <string>uni1C81</string>
    <string>uni1C82</string>
    <string>uni1C83</string>
    <string>uni1C84</string>
    <string>uni1C85</string>
    <string>uni1C86</string>
    <string>uni1C87</string>
    <string>Zemlya-cy</string>
    <string>zemlya-cy</string>
    <string>Dzelo-cy</string>
    <string>dzelo-cy</string>
    <string>DzeReversed-cy</string>
    <string>dzeReversed-cy</string>
    <string>Iota-cy</string>
    <string>iota-cy</string>
    <string>Djerv-cy</string>
    <string>djerv-cy</string>
    <string>UkMonograph-cy</string>
    <string>ukMonograph-cy</string>
    <string>OmegaBroad-cy</string>
    <string>omegaBroad-cy</string>
    <string>YerNeutral-cy</string>
    <string>yerNeutral-cy</string>
    <string>YeruBackYer-cy</string>
    <string>yeruBackyer-cy</string>
    <string>YatIotified-cy</string>
    <string>yatIotified-cy</string>
    <string>YuReversed-cy</string>
    <string>yuReversed-cy</string>
    <string>IotifiedA-cy</string>
    <string>iotifieda-cy</string>
    <string>YusClosedlittle-cy</string>
    <string>yusClosedlittle-cy</string>
    <string>YusBlended-cy</string>
    <string>yusBlended-cy</string>
    <string>YusiotifiedClosedLittle-cy</string>
    <string>yusiotifiedClosedLittle-cy</string>
    <string>Yn-cy</string>
    <string>yn-cy</string>
    <string>TseReversed-cy</string>
    <string>tseReversed-cy</string>
    <string>DeSoft-cy</string>
    <string>deSoft-cy</string>
    <string>ElSoft-cy</string>
    <string>elSoft-cy</string>
    <string>EmSoft-cy</string>
    <string>emSoft-cy</string>
    <string>OMonocular-cy</string>
    <string>oMonocular-cy</string>
    <string>OBinocular-cy</string>
    <string>oBinocular-cy</string>
    <string>ODoubleMonocular-cy</string>
    <string>oDoubleMonocular-cy</string>
    <string>omultiocular-cy</string>
    <string>vzmetcomb-cy</string>
    <string>tenmillionscomb-cy</string>
    <string>hundredmillionscomb-cy</string>
    <string>thousandmillionscomb-cy</string>
    <string>Dwe-cy</string>
    <string>dwe-cy</string>
    <string>Dzwe-cy</string>
    <string>dzwe-cy</string>
    <string>Zhwe-cy</string>
    <string>zhwe-cy</string>
    <string>Cche-cy</string>
    <string>cche-cy</string>
    <string>Dzze-cy</string>
    <string>dzze-cy</string>
    <string>TeWithMiddleHook-cy</string>
    <string>tewithmiddlehook-cy</string>
    <string>Twe-cy</string>
    <string>twe-cy</string>
    <string>Tswe-cy</string>
    <string>tswe-cy</string>
    <string>Tsse-cy</string>
    <string>tsse-cy</string>
    <string>Tche-cy</string>
    <string>tche-cy</string>
    <string>Hwe-cy</string>
    <string>hwe-cy</string>
    <string>shwe-cy</string>
    <string>DoubleO-cy</string>
    <string>doubleo-cy</string>
    <string>CrossedO-cy</string>
    <string>crossedo-cy</string>
    <string>hastrokecyr</string>
    <string>uniF43A</string>
    <string>A-cy.accented</string>
    <string>E-cy.accented</string>
    <string>Ii-cy.accented</string>
    <string>O-cy.accented</string>
    <string>U-cy.accented</string>
    <string>Yeru-cy.accented</string>
    <string>Ereversed-cy.accented</string>
    <string>Iu-cy.accented</string>
    <string>Ia-cy.accented</string>
    <string>Io-cy.accented</string>
    <string>uniF498</string>
    <string>uniF49A</string>
    <string>uniF49C</string>
    <string>uniF49E</string>
    <string>uniF4C6</string>
    <string>uniF4CC</string>
    <string>uniF4D2</string>
    <string>uniF4D4</string>
    <string>uniF4D6</string>
    <string>uniF4D8</string>
    <string>Zetailcyr.BSH</string>
    <string>Estailcyr.CHU</string>
    <string>uniF50E</string>
    <string>uniF510</string>
    <string>uniF512</string>
    <string>uniF514</string>
    <string>uniF516</string>
    <string>uniF518</string>
    <string>uniF51A</string>
    <string>uniF51C</string>
    <string>uniF51E</string>
    <string>Yeru-cymacron</string>
    <string>uniF522</string>
    <string>uniF524</string>
    <string>uniF526</string>
    <string>uniF528</string>
    <string>uniF52A</string>
    <string>uniF52C</string>
    <string>uniF52E</string>
    <string>uniF532</string>
    <string>uniF536</string>
    <string>uniF538</string>
    <string>Gestrokecyr.BSH</string>
    <string>Estailcyr.BSH</string>
    <string>uniF830</string>
    <string>uniF833</string>
    <string>uniF839</string>
    <string>uniF86F</string>
    <string>uniF872</string>
    <string>uniF875</string>
    <string>uniF878</string>
    <string>uniF87B</string>
    <string>uniF87E</string>
    <string>apostrophemod</string>
    <string>colontriangularmod</string>
    <string>uni1C88</string>
    <string>uniF87F</string>
    <string>uniF87C</string>
    <string>uniF879</string>
    <string>uniF876</string>
    <string>uniF873</string>
    <string>uniF870</string>
    <string>uniF83A</string>
    <string>uniF834</string>
    <string>uniF831</string>
    <string>zetailcyr.BSH</string>
    <string>estailcyr.CHU</string>
    <string>uniF50F</string>
    <string>uniF511</string>
    <string>uniF513</string>
    <string>uniF515</string>
    <string>uniF517</string>
    <string>uniF519</string>
    <string>uniF51B</string>
    <string>uniF51D</string>
    <string>uniF51F</string>
    <string>uniF521</string>
    <string>uniF523</string>
    <string>uniF525</string>
    <string>uniF527</string>
    <string>uniF529</string>
    <string>uniF52B</string>
    <string>uniF52D</string>
    <string>uniF52F</string>
    <string>uniF533</string>
    <string>uniF537</string>
    <string>uniF539</string>
    <string>gestrokecyr.BSH</string>
    <string>estailcyr.BSH</string>
    <string>uniF499</string>
    <string>uniF49B</string>
    <string>uniF49D</string>
    <string>uniF49F</string>
    <string>uniF4C7</string>
    <string>uniF4CD</string>
    <string>uniF4D3</string>
    <string>uniF4D5</string>
    <string>uniF4D7</string>
    <string>uniF4D9</string>
    <string>a-cy.accented</string>
    <string>e-cy.accented</string>
    <string>ii-cy.accented</string>
    <string>o-cy.accented</string>
    <string>u-cy.accented</string>
    <string>yeru-cy.accented</string>
    <string>ereversed-cy.accented</string>
    <string>iu-cy.accented</string>
    <string>ia-cy.accented</string>
    <string>io-cy.accented</string>
    <string>uniF43B</string>
    <string>at.case</string>
    <string>dieresis.alt</string>
    <string>dieresiscase.alt</string>
    <string>e-cy.hist</string>
    <string>omultiocular-cy.alt</string>
    <string>iotifieda-cy.hist</string>
    <string>be-cy.SRB</string>
    <string>ve-cy.BGR</string>
    <string>ge-cy.BGR</string>
    <string>de-cy.BGR</string>
    <string>zhe-cy.BGR</string>
    <string>ze-cy.BGR</string>
    <string>ii-cy.BGR</string>
    <string>iishort-cy.BGR</string>
    <string>ka-cy.BGR</string>
    <string>el-cy.BGR</string>
    <string>pe-cy.BGR</string>
    <string>te-cy.BGR</string>
    <string>tse-cy.BGR</string>
    <string>sha-cy.BGR</string>
    <string>shcha-cy.BGR</string>
    <string>hardsign-cy.BGR</string>
    <string>softsign-cy.BGR</string>
    <string>iu-cy.BGR</string>
    <string>yatcyr.BGR</string>
    <string>eiotifiedcyr.BGR</string>
    <string>yusbigiotifiedcyr.BGR</string>
    <string>iotifieda-cy.BGR</string>
    <string>De-cy.BGR</string>
    <string>El-cy.BGR</string>
    <string>Ef-cy.BGR</string>
    <string>dieresisacute</string>
    <string>uniF45D</string>
    <string>uniF45E</string>
    <string>uniF45F</string>
    <string>uniF475</string>
    <string>uniF476</string>
    <string>uniF477</string>
    <string>uniF478</string>
    <string>uniF479</string>
    <string>Elsmallcyr</string>
    <string>enclosingcirclecomb</string>
    <string>ge-cy.SRB</string>
    <string>pe-cy.SRB</string>
    <string>te-cy.SRB</string>
    <string>gjecyr.SRB</string>
    <string>macron-fwd</string>
    <string>macron-fwd.alt</string>
    <string>macronacute.SRB</string>
    <string>iegravecyr.SRB</string>
    <string>igravecyr.SRB</string>
    <string>flower</string>
    <string>knightwhite</string>
    <string>knightblack</string>
    <string>floretteblack</string>
    <string>florettewhite</string>
    <string>floretteoutlinedpetalledblackeight</string>
    <string>rookblack</string>
    <string>bishopblack</string>
    <string>leo</string>
    <string>heartwhite</string>
    <string>diamondwhite-misc</string>
    <string>spadewhite</string>
    <string>clubwhite</string>
    <string>bishopwhite</string>
    <string>heart</string>
    <string>crossedswords</string>
    <string>virgo</string>
    <string>thousandscyr.dnom</string>
    <string>bracketangleleft</string>
    <string>bracketangleright</string>
    <string>bracketangleleft.case</string>
    <string>bracketangleright.case</string>
  </array>
</dict>
</plist>
